<h2><%= I18n.t('navigation.posts.emoji') %> <%= I18n.t('navigation.posts.name') %></h2>
<% if @posts.empty? %>
  <p><%= I18n.t('posts.index.empty') %></p>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong><%= post.title %></strong>
        <i><%= post.content %></i>
      </li>
    <% end %>
  </ul>
<% end %>
