<h2><%= I18n.t('posts.edit.emoji') %> <%= I18n.t('posts.edit.name') %></h2>
<form action="/posts" method="post">
  <label for="title"><%= I18n.t('posts.index.title') %>:</label>
  <br>
  <input type="text" id="title" name="title" required value="<%= @post.title %>">
  <br>
  <label for="content"><%= I18n.t('posts.index.content') %>:</label>
  <br>
  <textarea id="content" name="content" required><%= @post.content %></textarea>
  <br>
  <button type="submit"><%= I18n.t('posts.create.emoji') %> <%= I18n.t('posts.create.name') %></button>
</form>
