<h2>💼 Plans</h2>
<% if settings.plans.empty? %>
  <p><%= I18n.t('subscriptions.index.empty') %></p>
<% else %>
  <form action="/subscriptions" method="post">
    <p><%= I18n.t('subscriptions.new.name') %>:</p>
    <% settings.plans.each do |plan| %>
      <div>
        <input type="radio" name="plan_id" value="<%= plan.id %>" required id="plan_<%= plan.id %>" <%= 'checked' if current_plan&.id == plan.id %> <%= 'disabled' if subscribed? %>>
        <label for="plan_<%= plan.id %>">
          <strong><%= plan.name %> (Price: $<%= plan.price %>)</strong>
          <br>
          <i><%= plan.description %></i>
          <br>
          <small><%= permissions(plan.type).map { |key, value| "#{key}: #{value.select { |_k, v| v }.keys.join(', ')}" }.join('. ') %>.</small>
        </label>
      </div>
    <% end %>
    <button type="submit" <%= 'disabled' if subscribed? %>><%= I18n.t('subscriptions.create.emoji') %> <%= I18n.t('subscriptions.create.name') %></button>
  </form>
<% end %>

<details>
  <summary><%= I18n.t('subscriptions.index.history') %></summary>
  <% if @subscriptions.empty? %>
    <p><%= I18n.t('subscriptions.index.empty') %></p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th><%= I18n.t('subscriptions.index.name') %></th>
          <th><%= I18n.t('subscriptions.index.start_date') %></th>
          <th><%= I18n.t('subscriptions.index.end_date') %></th>
          <th><%= I18n.t('subscriptions.index.price') %></th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><a href="<%= subscription.hosted_invoice_url %>" target="_blank"><%= subscription.plan.name %> 🔗</a></td>
            <td><%= subscription.created_at.strftime('%F') %></td>
            <td><%= subscription.end_date.strftime('%F') %></td>
            <td>$<%= subscription.plan.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</details>
